{{define "content"}}
<p>You can find me on IRC. I frequent freenode and will always be in #infoforcefeed.</p>
<p>GPG Fingerprint: <code>6E74 0249 A688 F563 509F AEF1 4856 403F 3BA4 034B</code></p>
<p>Https fingerprints can be found at the following locations:</p>
<p>
  <a href="https://github.com/kyleterry/kyleterry.com-https-cert-fingerprint/blob/master/README.md">Github - both SHA1 and MD5</a><br>
  <a href="https://twitter.com/s0paranoid/status/531349353328152576">Twitter - SHA1</a><br>
  <a href="https://twitter.com/s0paranoid/status/531350633408765952">Twitter - MD5</a>
</p>

<h2>Here are some posts:</h2>
<ul id="post-list">
  {{ range $post := .Posts }}
  <li>{{ $post.FormattedDate }} - <a href="{{ $post.RelLink }}">{{ $post.Title }}</a></li>
  {{ end }}
</ul>
{{ end }}
{{ define "site-title" }}{{ .SiteTitle }}: It's fucking Earth shaking{{end}}
