{{define "content"}}
<p>I'm a rock climber, Go programmer, snowboarder and mountain man. You can find me on IRC. I frequent freenode and will always be in #infoforcefeed. I work for https://reflect.io and will be posting a bunch of my data as visualizations using our service.</p>
<p>GPG fingerprint: <code>6E74 0249 A688 F563 509F AEF1 4856 403F 3BA4 034B</code></p>
<p>Fingerprints can be found at the following locations:</p>
<p>
  <a href="https://github.com/kyleterry/kyleterry.com-https-cert-fingerprint/blob/master/README.md">Github - website tls both sha1 and md5</a><br>
  <a href="https://twitter.com/s0paranoid/status/531349353328152576">Twitter - website tls sha1</a><br>
  <a href="https://twitter.com/s0paranoid/status/531350633408765952">Twitter - website tls md5</a>
  <a href="https://twitter.com/s0paranoid/status/838510641501499394">Twitter - gpg fingerprint</a>
</p>

<h2>Here are some posts:</h2>
<ul id="post-list">
  {{ range $post := .Posts }}
  <li>{{ $post.FormattedDate }} - <a href="{{ $post.RelLink }}">{{ $post.Title }}</a></li>
  {{ end }}
</ul>
{{ end }}
{{ define "site-title" }}{{ .SiteTitle }}: It's fucking Earth shaking{{end}}
