{{define "content"}}
<p>
  <a href="https://github.com/kyleterry/tenyks">Tenyks</a> - The IRC bot for hackers.
  <br>Tenyks is an IRC bot written in Go. It relays messages between services and IRC.
</p>
<p>
  <a href="https://github.com/kyleterry/quasar">Quasar</a> - A Tenyks service Go library.
  <br>Quasar is the Go library for writting services for Tenyks.
</p>
<p>
  <a href="https://github.com/kyleterry/tenyks-service">Tenyks Service</a> - A Tenyks service Python library.
  <br>Tenyks Service is the Python library for writting services for Tenyks. Most services are currently written in Python.
</p>
<p>
  <a href="https://github.com/kyleterry/sufr">SUFR</a> - Self-hosted bookmarking.
  <br>SUFR is a self-hosted bookmarking program written in Go. It's simple to install and run because it's a single binary with no external requirements. It uses BoltDB under the hood for storage.
</p>
<p>
  <a href="https://github.com/kyleterry/solarwind">Solarwind</a> - Minimalistic static site generator.
  <br>Solarwind is a static site generator written in Go. It keeps things simple by compliling .md (markdown) to html and just copying html files into a public directory.
</p>
<p>
  <a href="https://olegdb.org">OlegDB</a> - The ugly duckling database.
  <br>OlegDB is a key/value store backed by a splay tree and kooky hash table. It is written in C and has a Go front-end. OlegDB also offers liboleg for embedding the database in your program.
</p>
{{end}}
{{ define "site-title" }}{{ .SiteTitle }}: Projects{{end}}
