{{define "content"}}<p>
  <a href="https://github.com/kyleterry/tenyks">Tenyks</a> - The IRC bot for hackers.
  <br>Tenyks is an IRC bot written in Go. It relays messages between services and IRC.
</p>
<p>
  <a href="https://olegdb.org">OlegDB</a> - The ugly duckling database.
  <br>OlegDB is a key/value store backed by a splay tree and kooky hash table. It is written in C and has a Go front-end. OlegDB also offers liboleg for embedding the database in your program.
</p>
<p>
  <a href="https://github.com/kyleterry/shitbucket">Shitbucket</a> - Minimal Fucking bookmarking.
  <br>Shitbucket is a self-hosted and vulgar bookmarking application that you, yes YOU, can run yourself. It's powered by an OlegDB backend and written in Go. It's contained in a single Go file called shitbucket.go.
  Please do not use Shitbucket as an example of my coding abilities.
</p>
<p>BTC: 1KBNXvahSQHskxy8RmFtggc4VippXtoAZL</p>
<div class="infobox">
  <em>I got hired.</em>
</div>{{end}}

{{ define "site-title" }}{{ .SiteTitle }}: Projects{{end}}
