{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="span3">
      <div>
        <h1>Kyle Terry</h1>
        <em>Systems Engineer</em>
        <br>Portland, OR
        <br>kyle@kyleterry.com
        <br>971-275-5328
      </div>
    </div>
    <div class="span9">
      <div class="information">
        <div class="page-header">
          <h2>Information</h2>
        </div>
        <p>I am a system and software engineer in Portland, OR. I work on backend APIs and distributed systems mostly written in Go.</p>
      </div>
      <div class="experience">
        <div class="page-header">
          <h2>Experience</h2>
        </div>
        <h3>Reflect Technology &middot; http://reflect.io &middot; <small>Senior Software Engineer</small></h3>
        <p><em>Portland, OR &middot; Sep 2016 - Present</em></p>
        <p>Designing and building backend systems and APIs in Go for a data visualization SaaS platform.</p>

        <h3>Evident.io &middot; <small>Software Engineer</small></h3>
        <p><em>Remote Position &middot; Dec 2014 - Sep 2016</em></p>
        <p>Programming and engineering a customer facing web application for managing AWS security monitoring and reporting.</p>
        <p>Engineered and researched for the Core engineering team. Used Go to solve some log analysis problems from CloudTrail.</p>

        <h3>Copious, Inc &middot; http://copio.us &middot; <small>Senior Systems Engineer</small></h3>
        <p><em>Portland, OR &middot; May 2013 - Dec 2014</em></p>
        <p>Handling devops, systems administration and systems engineering. I use tools across the whole technology spectrum including, but not limited to: Chef, Bash, Redis, Linux, PHP, Python, Citrix, Networking tools, and others to deploy, manage and scale application stacks.</p>
        <p>Scaling, engineering and maintaining Zumiez.com on the systems side. Making the most of our bare-metal hardware by tuning, optimizing and planning for holiday loads.</p>

        <h3>Aquameta, LLC &middot; http://blog.aquameta.com &middot; <small>Backend Software Engineer</small></h3>
        <p><em>Portland, OR &middot; August 2010 - June 2013</em></p>
        <p>Designing and engineering web based warehouse software in Python using Django, Postgresql, Redis and other modern web technologies.</p>
        <p>I was responsible for bringing in the Redis database for use in caching and message queuing. The data in the software is extremely real-time and used in a fast paced working environment, so optimizing and creating accurate functions is essential to the client. Other tasks included devops and systems work in a Linux environment. I setup the internal network and VPN, the warehouse network, bare-metal servers, and co-designed a software stack aimed at efficiently serving the warehouse software. The company runs its network and software on KVM. I helped build and allocate resources to the bare-metal servers that host our VMs.</p>

        <h3>Pamiris, Inc &middot; https://www.pamiris.com &middot; <small>Software Engineer</small></h3>
        <p><em>Portland, OR &middot; November 2008 - May 2010</em></p>
        <p>Engineered web based payroll software in PHP using a custom built framework and ORM, and MySQL. Everything ran Linux. Attention to detail was crucial because the application did everything from track employee's time to generating paychecks, deducting taxes, and generating W-2s.</p>
        <p>I also created numerous tools for handling day to day tasks that could be automated in Python, bash and PHP. One tool includes a database management helper that encrypted incremental backups and transferred them to a backup server.</p>

        <h3>GemsTV USA &middot; https://en.wikipedia.org/wiki/Gems_TV_(USA) &middot; <small>Linux Systems Administration, Software Development</small></h3>
        <p><em>Reno, NV &middot; February 2007 - November 2008</em></p>
        <p>Started at the company as helpdesk and quickly took on a more important role of in-house Linux systems administrator. I would maintain and rack up Debian, Red Hat, and CentOS servers that powered our website, micro-services and Oracle database. I built tools in PHP, Python and bash to help with admin tasks. I also handled deployments of our Java stack.</p>
      </div>
      <div class="publications">
        <div class="page-header">
          <h2>Publications and Presentations</h2>
        </div>
        <p>
        The Dark Side of the web: Exploring darknets -  Kyle Terry at TEDxSalem 2014.<br>
        <small><a href="http://tedxsalem.us/kyle-terry-going-dark-on-the-net/">http://tedxsalem.us/kyle-terry-going-dark-on-the-net/</a></small><br>
        <small><a href="https://www.youtube.com/watch?v=HfuZJVpNWR4">Video link</a></small>
        </p>
        <p>
        The Internet Under Siege and the Rise of Cyber Insurgency. Kyle Terry and Dann Stayskal at Resistance Ecology Conference 2013.<br>
        <small><a href="https://speakerdeck.com/kyleterry/the-internet-under-siege-and-the-rise-of-cyber-insurgency">https://speakerdeck.com/kyleterry/the-internet-under-siege-and-the-rise-of-cyber-insurgency</a></small>
        </p>
        <p>
        Scaling Magento. Reid Parham, Aaron Edmonds, and Kyle Terry at Copious Inc. 2013.<br>
        <small><a href="https://speakerdeck.com/kyleterry/scaling-magento-by-copious-inc">https://speakerdeck.com/kyleterry/scaling-magento-by-copious-inc</a></small>
        </p>
      </div>
      <div class="projects">
        <div class="page-header">
          <h2>Projects</h2>
        </div>
        <p>Here are a list of my favorite personal projects. The full list is available on <a href="https://github.com/kyleterry">Github</a>.</p>
        <h4>Tenyks <small>The IRC bot for hackers</small></h4>
        <p>Tenyks is a service-oriented IRC bot written in Go. It uses goroutines and channels to concurrently handle network commmunication with a large number of IRC servers and bot services. You connect your services to Tenyks using ZeroMQ pub/sub.</p>
        <p>See more on <a href="https://github.com/kyleterry/tenyks">Github</a></p>

        <h4>SUFR <small>The simple, self-hosted, URL bookmarking app</small></h4>
        <p>SUFR is a bookmarking web app written in Go. It strives to give people a self-hosted option to store their bookmarks. I had a lot of fun writing it.</p>
        <p>See more on <a href="https://github.com/kyleterry/sufr">Github</a></p>

        <h4>Quasar <small>The Tenyks service lib for Go</small></h4>
        <p>Quasar is a library for writing services for Tenyks in Go. It gives you a couple options to filter messages and an interface to allow the user to write their own.</p>
        <p>See more on <a href="https://github.com/kyleterry/quasar">Github</a></p>

        <h4>OlegDB <small>Key/value store</small></h4>
        <p>OlegDB is a key/value data store written in C as an embeddable library. It ships with a front end http server written in Go.</p>
        <p>See more on <a href="https://github.com/infoforcefeed/olegdb">Github</a></p>
      </div>
      <div class="skills">
        <div class="page-header">
          <h2>Skills</h2>
        </div>
        <p>I have worked in a couple different fields that have given me the experience I need to solve problems quickly while doing backend engineering. Below are some of the things I have worked with.</p>
        <div class="row">
          <div class="span3">
            <ul>
              <li><a href="https://github.com/kyleterry/tenyks">Go</a> - expert</li>
              <li><a href="https://gist.github.com/kyleterry/50536503b02141a6dd54">Python</a> - expert</li>
              <li><a href="https://gist.github.com/kyleterry/50536503b02141a6dd54">Django</a> - experienced</li>
              <li><a href="https://github.com/infoforcefeed/OlegDB">C</a> - rusty</li>
              <li>Javascript - rusty</li>
            </ul>
          </div>
          <div class="span3">
            <ul>
              <li>Linux - experienced</li>
              <li>Devops - experienced</li>
              <li>Bash - experienced</li>
              <li>High Availability - experienced</li>
              <li>Clustering - experienced</li>
            </ul>
          </div>
          <div class="span3">
            <ul>
              <li>IRC internals</li>
              <li>Minor networking skills</li>
              <li>Minor skills using Wireshark, nmap, Metasploit</li>
              <li>New Relic</li>
              <li>Monitoring</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="interests">
        <div class="page-header">
          <h2>Interests</h2>
        </div>
        <div class="row">
          <div class="span3">
            <ul>
              <li>Rock/sport Climbing (5.11 lead)</li>
              <li>Mountaineering and ice climbing</li>
              <li>Hiking and backpacking</li>
            </ul>
          </div>
          <div class="span3">
            <ul>
              <li>Video games</li>
              <li>TV and movies</li>
              <li>Collecting music</li>
            </ul>
          </div>
          <div class="span3">
            <ul>
              <li>Technical books</li>
              <li>Comic book and graphic novels</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "site-title" }}{{.SiteTitle}}: Resume{{end}}
