{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="span3">
      <div>
        <h1>Kyle Terry</h1>
        <em>Systems Engineer</em>
        <br>Portland, OR
        <br>jobs.through.website@kyleterry.com
      </div>
    </div>
    <div class="span9">
      <div class="information">
        <div class="page-header">
          <h2>Information</h2>
        </div>
        <p>I am a system and software engineer in Portland, OR. I work on backend APIs and distributed systems mostly written in Go.</p>
      </div>
      <div class="experience">
        <div class="page-header">
          <h2>Experience</h2>
        </div>
        <h3>Puppet &middot; https://puppet.com &middot; <small>Senior Software Engineer</small></h3>
        <p><em>Portland, OR &middot; Jun 2018 - Present</em></p>
        <p>Acquired Reflect in June 2018</p>
        <p>Designing and building backend systems and APIs in Go for a data visualization platform.</p>

        <h3>Reflect Technology &middot; http://reflect.io &middot; <small>Senior Software Engineer</small></h3>
        <p><em>Portland, OR &middot; Sep 2016 - Jun 2018</em></p>
        <p>Designing and building backend systems and APIs in Go for a data visualization SaaS platform.</p>

        <h3>Evident.io &middot; <small>Software Engineer</small></h3>
        <p><em>Remote Position &middot; Dec 2014 - Sep 2016</em></p>
        <p>Built an application for an AWS security product used to scan accounts and find potential configuration vulnerabilities.</p>

        <h3>Copious, Inc &middot; http://copio.us &middot; <small>Senior Systems Engineer</small></h3>
        <p><em>Portland, OR &middot; May 2013 - Dec 2014</em></p>
        <p>Worked on infrastructure for Zumiez.com and other clients. Mostly dealt with scaling ecommerce systems using physical hardware, configuration management and implementing services to solve problems and bottlenecks</p>

        <h3>Aquameta, LLC &middot; http://blog.aquameta.com &middot; <small>Backend Software Engineer</small></h3>
        <p><em>Portland, OR &middot; August 2010 - June 2013</em></p>
        <p>Worked on a warehouse management system in Python for a grocery delivery service. Handled software for trucking logistics and predictive purchasing and worked on configuration management for infrastructure.</p>

        <h3>Pamiris, Inc &middot; https://www.pamiris.com &middot; <small>Software Engineer</small></h3>
        <p><em>Portland, OR &middot; November 2008 - May 2010</em></p>
        <p>Worked on a payroll system used to manage client's staff and contractors. Built systems and services to manage automation and deployments.</p>

        <h3>GemsTV USA &middot; https://en.wikipedia.org/wiki/Gems_TV_(USA) &middot; <small>Linux Systems Administration, Software Development</small></h3>
        <p><em>Reno, NV &middot; February 2007 - November 2008</em></p>
        <p>Worked as a systems administrator on Linux and Windows hardware systems that created a link between a live video broadcast on DirecTV and an online ordering system. Maintained a warehouse computer network as a partial network admin.</p>
      </div>
      <div class="publications">
        <div class="page-header">
          <h2>Publications and Presentations</h2>
        </div>
        <p>
        The Dark Side of the web: Exploring darknets -  Kyle Terry at TEDxSalem 2014.<br>
        <small><a href="http://tedxsalem.us/kyle-terry-going-dark-on-the-net/">http://tedxsalem.us/kyle-terry-going-dark-on-the-net/</a></small><br>
        <small><a href="https://www.youtube.com/watch?v=HfuZJVpNWR4">Video link</a></small>
        </p>
        <p>
        The Internet Under Siege and the Rise of Cyber Insurgency. Kyle Terry and Dann Stayskal at Resistance Ecology Conference 2013.<br>
        <small><a href="https://speakerdeck.com/kyleterry/the-internet-under-siege-and-the-rise-of-cyber-insurgency">https://speakerdeck.com/kyleterry/the-internet-under-siege-and-the-rise-of-cyber-insurgency</a></small>
        </p>
        <p>
        Scaling Magento. Reid Parham, Aaron Edmonds, and Kyle Terry at Copious Inc. 2013.<br>
        <small><a href="https://speakerdeck.com/kyleterry/scaling-magento-by-copious-inc">https://speakerdeck.com/kyleterry/scaling-magento-by-copious-inc</a></small>
        </p>
      </div>
      <div class="projects">
        <div class="page-header">
          <h2>Projects</h2>
        </div>
        <p>Here are a list of my favorite personal projects. The full list is available on <a href="https://github.com/kyleterry">Github</a>.</p>
        <h4>Tenyks <small>The IRC bot for hackers</small></h4>
        <p>Tenyks is a service-oriented IRC bot written in Go. It uses goroutines and channels to concurrently handle network commmunication with a large number of IRC servers and bot services. You connect your services to Tenyks using ZeroMQ pub/sub.</p>
        <p>See more on <a href="https://github.com/kyleterry/tenyks">Github</a></p>

        <h4>SUFR <small>The simple, self-hosted, URL bookmarking app</small></h4>
        <p>SUFR is a bookmarking web app written in Go. It strives to give people a self-hosted option to store their bookmarks. I had a lot of fun writing it.</p>
        <p>See more on <a href="https://github.com/kyleterry/sufr">Github</a></p>

        <h4>Quasar <small>The Tenyks service lib for Go</small></h4>
        <p>Quasar is a library for writing services for Tenyks in Go. It gives you a couple options to filter messages and an interface to allow the user to write their own.</p>
        <p>See more on <a href="https://github.com/kyleterry/quasar">Github</a></p>

        <h4>OlegDB <small>Key/value store</small></h4>
        <p>OlegDB is a key/value data store written in C as an embeddable library. It ships with a front end http server written in Go.</p>
        <p>See more on <a href="https://github.com/infoforcefeed/olegdb">Github</a></p>
      </div>
      <div class="skills">
        <div class="page-header">
          <h2>Skills</h2>
        </div>
        <p>I have worked in a couple different fields that have given me the experience I need to solve problems quickly while doing backend engineering. Below are some of the things I have worked with.</p>
        <div class="row">
          <div class="span3">
            <ul>
              <li><a href="https://github.com/kyleterry/tenyks">Go</a> - expert</li>
              <li><a href="https://gist.github.com/kyleterry/50536503b02141a6dd54">Python</a> - expert</li>
              <li><a href="https://gist.github.com/kyleterry/50536503b02141a6dd54">Django</a> - experienced</li>
              <li><a href="https://github.com/infoforcefeed/OlegDB">C</a> - rusty</li>
              <li>Javascript - rusty</li>
            </ul>
          </div>
          <div class="span3">
            <ul>
              <li>Linux - experienced</li>
              <li>Devops - experienced</li>
              <li>Bash - experienced</li>
              <li>High Availability - experienced</li>
              <li>Clustering - experienced</li>
            </ul>
          </div>
          <div class="span3">
            <ul>
              <li>IRC internals</li>
              <li>Minor networking skills</li>
              <li>Minor skills using Wireshark, nmap, Metasploit</li>
              <li>New Relic</li>
              <li>Monitoring</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="interests">
        <div class="page-header">
          <h2>Interests</h2>
        </div>
        <div class="row">
          <div class="span3">
            <ul>
              <li>Rock/sport Climbing (5.11 lead)</li>
              <li>Mountaineering and ice climbing</li>
              <li>Hiking, backpacking and snowboarding</li>
            </ul>
          </div>
          <div class="span3">
            <ul>
              <li>Video games</li>
              <li>TV and movies</li>
              <li>Collecting music</li>
            </ul>
          </div>
          <div class="span3">
            <ul>
              <li>Technical books</li>
              <li>Comic book and graphic novels</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "site-title" }}{{.SiteTitle}}: Resume{{end}}
