body {
    color: #2A2C31;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', sans-serif;
}

header {
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #ddd;
    color: #E4844A;
    padding-top: 6px;
    height: 40px;
    background-color: #3E4147;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    height: 50px;
}

.nav > li {
    position: relative;
    display: inline;
    line-height: 30px;
}

.header-inner > .avatar {
    float: left;
    margin: 0 10px;
}

.avatar > img {
    height: 35px;
    width: 35px;
    border-radius: 3px;
}

code {
    background-color: #3E4147;
    padding: 4px;
    color: #DFBA69;
    border-radius: 3px;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.container {
    margin: 0 auto;
    width: 760px;
}

.centered {
    text-align: center;
}

.lighten {
    color: #6F6F6F;
}

.post-body p {
    text-justify: inter-word;
}

.post-body {
    text-align: left;
}

ul#post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover, a:focus {
    color: #E4844A;
}

a {
    color: #E4844A;
    text-decoration: none;
    line-height: inherit;
}
