body {
    color: #E4844A;
    background-color: #3E4147;
    font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    line-height: 1.4rem;
    font-size: 14px;
    padding: 0;
    margin: 0;
    min-height: 100%;
    position: relative;
}

body::after{ content:''; display:block; height:100px; }

h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', sans-serif;
}

header {
    font-family: 'Open Sans', sans-serif;
    /* border-bottom: 1px solid #ddd; */
    color: #E4844A;
    background-color: #3E4147;
    padding-top: 6px;
    height: 40px;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    height: 50px;
}

.nav > li {
    position: relative;
    display: inline;
    line-height: 30px;
    margin: 0 8px;
}

.header-inner > .avatar {
    float: left;
    margin: 0 10px;
}

.avatar > img {
    height: 35px;
    width: 35px;
    border-radius: 3px;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.main-content {
    padding-bottom: 60px;
}

code {
    background-color: #3E4147;
    padding: 4px;
    color: #DFBA69;
    border-radius: 3px;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.container {
    margin: 0 auto;
    width: 760px;
}

.centered {
    text-align: center;
}

.lighten {
    color: #6F6F6F;
}

.post-body p {
    text-justify: inter-word;
}

.post-body {
    text-align: left;
}

ul#post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover, a:focus {
    /* color: #E4844A; */
    color: #844ae4;
}

a {
    /* color: #E4844A; */
    color: #844ae4;
    text-decoration: none;
    line-height: inherit;
}
