<!doctype html>
<html>
  <head>
    <title>{{ template "site-title" .}}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ .SiteDescription }}">
    <link href='//fonts.googleapis.com/css?family=Droid+Serif|Open+Sans+Condensed:300|PT+Sans|Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/static/css/site.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="inner-content centered">
      <header>
          <div class="container">
            <div class="header-inner">
              <a href="/" class="avatar"><img src="/static/images/avatar.png"></a>
              <ul class="nav">
                <li class="nav-item"><a href="/projects.html">Projects</a>  &middot;</li>
                <li class="nav-item"><a href="/climbing.html">Climbing Data</a>  &middot;</li>
                <li class="nav-item"><a href="/resume.html">Resume</a>  &middot;</li>
                <li class="nav-item"><a href="https://github.com/kyleterry">Github</a>  &middot;</li>
                <li class="nav-item"><a href="/"0x3BA4034B.pub.asc>0x3BA4034B</a></li>
              </ul>
            </div>
          </div>
      </header>
    </div>
    <div class="container">
      <div class="inner-content">
        {{template "body" .}}
        <div class="infobox centered">
          <p>
            &copy; Kyle Terry &middot; <a href="https://creativecommons.org/licenses/by/3.0/us/">Everything is Creative Commons Attribution 3.0</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
